

.form_flex {
    padding: 20px;
    justify-content: space-around;
    background-color: #182a42;
    margin: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    height: -webkit-fill-available;
}

.name_form, .phone_form {
    width: 100%;
    height: 45px;
    background: #F6F6F6;
    font-size: 14px;
    margin-bottom: 10px;
    font-size: 20px;
}

.qvest_form {
    width: 100%;
    height: 80px;
    background: #F6F6F6;
    font-size: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: flex;
    resize: vertical;
    font-size: 20px;
}


label{
    color: #787878;
    width: 220px;
}

.text_form {
    font-family: Montserrat;
    font-size: 10px;
    width: 200px;
    line-height: 12px;
    margin-left: 28px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #595959;
}

.flex_button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.but_form {
    width: 100%;
    height: 45px;
    background: linear-gradient(113.3deg, #DE9B55 -8.73%, #EE5432 93.23%);
    -webkit-box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
    box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
    color: #fff;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}




/* --------------- */
.gender-form-label{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #787878;
    margin-bottom: 5px;

}

input[type='radio']{
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.grid_radio{
    display: grid;
    margin-bottom: 10px;
}

.radio_input_man{
    align-items: center;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
    display: -webkit-box;

}

.radio_input_girl{
    display: -webkit-box;
    align-items: center;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid rgba(120, 120, 120, 1);
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(120, 120, 120, 1);
    transform: translate(-50%, -50%);
    visibility: visible;
}

.genus{
    display: grid;
    align-items: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    color:rgba(120, 120, 120, 1);
    margin-left: 10px;
}

.radio_input{
    display: flex;
    align-items: center;
}

/* ----------------------- */

.square{
    display: flex;
    margin-left: 0.75em;
    align-items: center;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin: 0;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid rgba(120, 120, 120, 1);
}

input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(120, 120, 120, 1);
    transform: translate(-50%, -50%);
    visibility: visible;
}