.Footer{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #2c3531;
}

.location_global{
    width: 12%;
    height: inherit;
    display: flex;
    align-items: center;
    color: #ffcb9a
}

.marketplace{
    color: #ffcb9a;
    line-height: 10px;
    cursor: pointer;
}


a{
    color: #ffcb9a;
}

.Contacts{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    color: #ffcb9a;
    margin: 0 10px;
}

/* -------------- */
