.Container-head {
  align-items: center;
  border: 6px solid #f52b4d17;
  background-color: #2c3531;
  color: #606b65;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 120px;
  height: 120px;
}

.Welcom_text {
  display: flex;
  justify-content: center;
  color: #d9b08c;
}

.span_separation {
  display: flex;
  color: #ffcb9a;
}

.SpanJoin, .SpanRegister{
  font-size:larger;
  font-weight: bold;
  cursor: pointer;
}
